{% extends 'base.html.twig' %}

{% block title %}Add a server{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Add a server</h1>

    {{ include('server/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('server_index') }}">Back to the list</a>
</div>
{% endblock %}
