{% extends 'base.html.twig' %}

{% block title %}Edit a user{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Edit a user</h1>

    {{ include('user/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('user_index') }}">Back to the list</a>
</div>
{% endblock %}
